body{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.listanoticias{
    
   display: block;
   width: 400px;
    text-align: center;
    article{
        border: 1px solid black;
        margin-top: 20px;
    }
    img{
        max-width: 100%;
    }
}
